.modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: #211c1cbf;
}
.Modal {
  width: 70%;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 100px;
  background: var( --colorWhite );
  padding: 12px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba( 0, 0, 0, .4 );

  @media ( --tablet ) {
    width: 80%;
    padding: 8px;
  }

  @media ( --mobile ) {
    width: 86%;
  }
}

.Modal-close {
  width: 50px;
  height: 50px;
  position: absolute;
  right: -32px;
  top: -32px;
  border-radius: 50%;
  border: none;
  background: var( --colorBlack );
  color: white;
  cursor: pointer;
  outline: 0;

  @media ( --tablet ) {
    width: 45px;
    height: 45px;
    right: -26px;
    top: -34px;
  }

  @media ( --mobile ) {
    width: 30px;
    height: 35px;
    right: -20px;
    top: -20px;
  }
}

.Modal-close:after {
  content: "X";
  font-weight: bold;
  font-size: 30px;

  @media ( --tablet ) {
    font-size: var( --fontSizeTitleSecondary );
  }
}

.Modal-close:hover {
  background: var( --colorCrimson );
}