.content-categories{
  margin-top: 60px;
  display: grid;
  grid-template: repeat(3, 305px) / 100%;
  grid-template-areas: "category-1" "category-2" "category-3";
  padding: 0 10px;
}

.row-category-1{
  grid-area: category-1;
}
.row-category-2{
  grid-area: category-2;
}
.row-category-3{
  grid-area: category-3;
}
.row-container-category{
  & .title-category{
    margin: 0;
    color: rgb(232, 46, 89);
    font-size: 22px;
  }
}
.wrapper-subcategory{
  width: 100%;

  & .title-subcategory{
    color: rgba(21, 27, 49, 0.62);
    margin: 10px 0;
    font-size: 18px;
  }
}