.content-categories{
  margin-top: 10px;
  padding: 0 10px;

  & .spinner{
    width: 120px;
    display: none;
    transition: all 1s ease-out;
    margin: 70px auto;
  }

  & .alert{
    padding: 8px;
    width: 200px;
    margin: 20px auto;
    font-size: var( --fontSize );
    font-weight: bold;
    display: none;
    transition: all 1s ease-out;
  }

  & .alert.show{
    display: block;
    transition: all 1s ease-in;
  }
}
.row-container-category{
  padding: 10px;
  opacity: 1;
}
.wrapper-subcategory{
  width: 100%;

  & .title-subcategory{
    color: rgba( 21, 27, 49, .62 );
    margin: 10px 0;
    font-size: var( --fontSizeTitleSecondary );
  }
}

.title-category, .title-result-search.show{
  color: var( --colorCrimson );
  font-size: var( --fontSizeTitlePrimary );
  display: block;
}
.title-category{
  margin: 0;
}
.title-result-search{
  margin: 15px 0;
  display: none;
}
.content-categories.searching{
  text-align: center;

  & .spinner{
    display: block;
    transition: all 1s ease-in;
  }

  & .row-container-category{
    opacity: 0;
  }
}