.RelatedPlaylist{
  color: #fff;
  margin: 20px 30px 0 0;
  padding: 0;
  font-size: var( --fontSizeTitleSecondary );

  & .playlist-item{
    padding: 5px 15px;
    margin: 0 0 10px 22px;
    cursor: pointer;
    line-height: 18px;
    font-size: var( --fontSize );
    display: list-item;
  }

  & .playlist-item-link{
    color: #fff;
    text-decoration: none;
  }

  & .playlist-item:hover{
    background-color: rgba( 0, 0, 0, .5 );
    border-radius: 5px;
  }

  & .number{
    width: 80px;
  }
}