body{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Montserrat, sans-serif;
}
.wrapper{
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template: 1fr / 25vw 1fr;
  grid-template-areas: "left-sidebar main";

  & .left-sidebar{
    grid-area: left-sidebar;
    background: rgb( 21, 27, 49 );
    overflow-y: scroll;
    overflow-x: hidden;
  }

  & .main{
    grid-area: main;
    background: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.content-sidebar{
  height: 1100px;
  width: 100%;
  padding: 10px;
}

.title-main {
  font-size: 14px;

  & h1{
    color: #fff;
  }

  & span{
    position: relative;
    left: -8px;
    background: linear-gradient( to left, #e66599, #ff243b );
    -webkit-background-clip: text;
    color: transparent;
  }
}

.title-my-play-list, .title-playlist-friends{
  color: #fff;
  font-size: 16px;
  margin: 30px 0;
}

.playlist{
  color: #fff;
  margin: 20px 30px 0 0;
  padding: 0;
  font-size: 14px;

  & .playlist-item{
    padding: 5px 15px;
    margin: 0 0 10px 22px;
    cursor: pointer;
    line-height: 18px;
  }

  & .playlist-item-link{
    color: #fff;
    text-decoration: none;
  }

  & .playlist-item:hover{
    background-color: rgba( 0 , 0, 0, .5 );
    border-radius: 5px;
  }

  & .number{
    width: 80px;
  }
}

.playlist.friends{
  margin: 0;
  
  & .playlist-item{
    margin: 0;
  }

  & .playlist-item-link--avatar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  & .avatar{
    margin-right: 10px;
  }
}

.menu{
  margin: 20px 15px 20px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 10px 10px 10px 0;
  color: #fff;

  & .item{
    margin: 10px 0;
    padding: 10px;
  }

  & .item:hover{
    background-color: rgba( 0 , 0, 0, .5 );
    border-radius: 5px;
  }
}

.footer{
  padding: 10px 0;
  margin: 0 10px 20px 0;

  & span{
    display: inline-block;
    padding: 5px 0;
    margin-right: 8px;
  }

  & .link{
    text-decoration: none;
  }
}

.link{
  color: #fff;
}

.u-ul-list-style{
  list-style: none;
}

.avatar{
  border-radius: 50%;
}

.avatar--size-large{
  width: 60px;
}
.avatar--size-small{
  width: 35px;
}

.content-main {
  height: auto;
  width: 100%;
  padding: 10px;
}

.header-main{
  position: fixed;
  display: flex;
  width: 73vw;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  top: 0;
  padding-right: 8px;
  box-sizing: border-box;
}

.form-search{
  background: #efecec70;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 300px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6px 0 0;

  & .search-input{
    background: transparent;
    border: none;
    width: 280px;
    height: 24px;
    outline: 0;
    border-radius: 10px;
    padding: 0 0 0 4px;
  }
}


.account{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  & .username{
    margin-left: 5px;
  }
}

.content-videos{
  margin-top: 60px;
  display: grid;
  grid-template: 280px 280px 280px / 100%;
  grid-template-areas: "list-video-1" "list-video-2" "list-video-3";
}

.list-video-1{
  grid-area: list-video-1;
}
.list-video-2{
  grid-area: list-video-2;
}
.list-video-3{
  grid-area: list-video-3;
}
.box-list-videos{
  & .title-main{
    color: #ccc;
    margin: 0;
  }
}
.list-videos{
  width: 100%;

  & .title-section{
    color: #8c8484;
    margin: 10px 0;
  }
}

.videos{
  width: 100%;
  height: 210px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.box-video{
  width: 300px;
  height: 200px;
  display: inline-block;
  white-space: normal;
  text-align: center;
  margin-right: 20px;
  cursor: pointer;

  & .video{
    background: #ccc;
    height: 140px;
    width: 100%;
  }

  & .description{
    padding: 5px;
    width: 100%;
    font-size: 14px;
    box-sizing: border-box;
  }
}