<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>React</title>
</head>
<body>
  <div id="app">

  </div>
  <div class="wrapper">
    <div class="left-sidebar">
      <div class="content-sidebar">
        <div class="title-main">
          <h1>Platzi <span>Video</span></h1>
        </div>

        <h2 class="title-my-play-list">Mi playlist</h2>

        <ol class="playlist">
          <li class="playlist-item">
            <a class="playlist-item-link" href="#">
              5 Reasons To Chose a Notebook Over A computer Desktop
            </a>
          </li>
          <li class="playlist-item">
            <a class="playlist-item-link" href="#">
              Get Around Easily With A New York Limousine Service
            </a>
          </li>
          <li class="playlist-item">
            <a class="playlist-item-link" href="#">
              How To Cook A Tender Juicy Steak
            </a>
          </li>
          <li class="playlist-item">
            <a class="playlist-item-link" href="#">
              How To Remove Kidney Stones
            </a>
          </li>
          <li class="playlist-item">
            <a class="playlist-item-link" href="#">
              The Science Of Superstitions
            </a>
          </li>
          <li class="playlist-item">
            <a class="playlist-item-link" href="#">
              5 Reasons To Chose a Notebook Over A computer Desktop
            </a>
          </li>
          <li class="playlist-item">
            <a class="playlist-item-link" href="#">
              Get Around Easily With A New York Limousine Service
            </a>
          </li>
          <li class="playlist-item">
            <a class="playlist-item-link" href="#">
              How To Cook A Tender Juicy Steak
            </a>
          </li>
          <li class="playlist-item">
            <a class="playlist-item-link" href="#">
              How To Remove Kidney Stones
            </a>
          </li>
          <li class="playlist-item">
            <a class="playlist-item-link" href="#">
              The Science Of Superstitions
            </a>
          </li>
        </ol>

        <h2 class="title-playlist-friends">Playlist de Amigos</h2>

        <ul class="playlist friends u-ul-list-style">
          <li class="playlist-item">
            <a class="playlist-item-link playlist-item-link--avatar" href="#">
              <img class="avatar avatar--size-large" src="./src/images/platzi.jpg" alt="Avatar">
              Gordon Carroll
            </a>
          </li>
          <li class="playlist-item">
            <a class="playlist-item-link playlist-item-link--avatar" href="#">
              <img class="avatar avatar--size-large" src="./src/images/platzi.jpg" alt="Avatar">
              Adeline Wilkins
            </a>
          </li>
          <li class="playlist-item">
            <a class="playlist-item-link playlist-item-link--avatar" href="#">
              <img class="avatar avatar--size-large" src="./src/images/platzi.jpg" alt="Avatar">
              Jhon Wheeler
            </a>
          </li>
          <li class="playlist-item">
            <a class="playlist-item-link playlist-item-link--avatar" href="#">
              <img class="avatar avatar--size-large" src="./src/images/platzi.jpg" alt="Avatar">
              Ketherine Nelson
            </a>
          </li>
        </ul>


        <ul class="menu u-ul-list-style">
          <li class="item ">
            <span class="icon icon--small">
              <i class="fas fa-cog"></i>
            </span>
            Configuracion
          </li>
          <li class="item">
            <span class="icon icon--small">
              <i class="fas fa-question"></i>
            </span>
            Ayuda
          </li>
        </ul>

        <footer class="footer">
          <span>
            <a class="link" href="#">Cursos</a>
          </span>
          <span>
            <a class="link" href="#">Blog</a>
          </span>
          <span>
            <a class="link" href="#">Team Platzi</a>
          </span>
          <span>
            <a class="link" href="#">Politicas de privacidad</a>
          </span>
          <span>
            <a class="link" href="#">Condiciones</a>
          </span>
          <span>
            <a class="link" href="#">2018 Platzi</a>
          </span>
        </footer>

      </div>
    </div>
    <div class="main">
      <div class="content-main">
        <div class="header-main">
          <form class="form-search">
            <input type="text" class="search-input">
            <span class="icon">
              <i class="fas fa-search"></i>
            </span>
          </form>
          <div class="account">
            <img src="./src/images/avatar.jpg" class="avatar avatar--size-small" alt="my avatar">
            <span class="username">Ricardo Medina</span>
          </div>
        </div>
        <div class="content-media-main">
          <div class="row row-media-1">
            <div class="row-container-media">
              <h3 class="title-main">Lo mejor de la semana</h3>
              <div class="wrapper-media">
                <h4 class="title-section">Destacados</h4>

                <div class="content-media">

                  <div class="media">
                    <div class="content">
                    </div>
                    <div class="description">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget nisi urna.
                    </div>
                  </div>

                  <div class="media">
                    <div class="content">
                    </div>
                    <div class="description">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget nisi urna.
                    </div>
                  </div>

                  <div class="media">
                    <div class="content">
                    </div>
                    <div class="description">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget nisi urna.
                    </div>
                  </div>

                  <div class="media">
                    <div class="content">
                    </div>
                    <div class="description">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget nisi urna.
                    </div>
                  </div>

                  <div class="media">
                    <div class="content">
                    </div>
                    <div class="description">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget nisi urna.
                    </div>
                  </div>
                  
                </div>

              </div>
            </div>
          </div>
          <div class="row row-media-2">
              <div class="row-container-media">
                  <h3 class="title-main">Lo mejor para concentrarse</h3>
                  <div class="wrapper-media">
                    <h4 class="title-section">Para programar</h4>
    
                    <div class="content-media">
    
                      <div class="media">
                        <div class="content">
                        </div>
                        <div class="description">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget nisi urna.
                        </div>
                      </div>
    
                      <div class="media">
                        <div class="content">
                        </div>
                        <div class="description">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget nisi urna.
                        </div>
                      </div>
    
                      <div class="media">
                        <div class="content">
                        </div>
                        <div class="description">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget nisi urna.
                        </div>
                      </div>
    
                      <div class="media">
                        <div class="content">
                        </div>
                        <div class="description">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget nisi urna.
                        </div>
                      </div>
    
                      <div class="media">
                        <div class="content">
                        </div>
                        <div class="description">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget nisi urna.
                        </div>
                      </div>
                      
                    </div>
    
                  </div>
                </div>
          </div>
          <div class="row row-media-3">
              <div class="row-container-media">
                  <h3 class="title-main">Sino te queda de otra</h3>
                  <div class="wrapper-media">
                    <h4 class="title-section">Regaeton</h4>
    
                    <div class="content-media">
    
                      <div class="media">
                        <div class="content">
                        </div>
                        <div class="description">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget nisi urna.
                        </div>
                      </div>
    
                      <div class="media">
                        <div class="content">
                        </div>
                        <div class="description">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget nisi urna.
                        </div>
                      </div>
    
                      <div class="media">
                        <div class="content">
                        </div>
                        <div class="description">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget nisi urna.
                        </div>
                      </div>
    
                      <div class="media">
                        <div class="content">
                        </div>
                        <div class="description">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget nisi urna.
                        </div>
                      </div>
    
                      <div class="media">
                        <div class="content">
                        </div>
                        <div class="description">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget nisi urna.
                        </div>
                      </div>
                      
                    </div>
    
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="http://localhost:9000/js/platzi-video.js"></script>
  <script defer="defer" src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
</body>
</html>