.Account{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  & .avatar{
    margin-right: 5px;
  }
}

.dropdown{
  position: relative;
  width: auto;
  font-size: 12px;

  & .dropdown-toggle{
    width: inherit;
    border: none;
    color: #fff;
    background: rgb(44, 48, 77);
    border-color: #6c757d;
    border: 1px solid transparent;
    padding: 8px 10px;
    border-radius: 8px;
    outline: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
  }

  & .dropdown-toggle:after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    font-size: 14px;
  }

  & .dropdown-menu{
    position: absolute;
    margin-top: 1px;
    width: 100%;
    font-size: 12px;
    border-radius: 8px;
    background: rgba(37, 41, 70, 0.94);
    padding: 5px 8px;
    box-sizing: border-box;
    display: none;
  }

  & .dropdown-menu.open{
    display: block;
  }

  & .dropdown-item{
    display: block;
    padding: 6px 8px;
    text-decoration: none;
    color: #fff;
  }

  & .dropdown-item:hover{
    color: rgb(232,46,89);
  }
}