.Spinner {
  position: absolute;
  top: 0;
  bottom: 50px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  & img{
    width: 90px;

    @media ( --tablet ) {
      width: 55px;
    }
  }
}

.Spinner span {
  color: var( --colorWhite );
  font-size: 20px;
}