.VideoPlayerControls {
  display: flex;
  position: absolute;
  background: rgba( 0, 0, 0, .7 );
  bottom: 10px;
  left: 10px;
  right: 10px;
  z-index: 2;
  border-radius: 20px;
  padding: 0 10px;

  @media ( --tablet ) {
    display: flex;
    position: absolute;
    background: rgba( 0, 0, 0, .7 );
    bottom: 10px;
    left: 0;
    right: 0;
    z-index: 2;
    border-radius: 20px;
    padding: 0;
    width: 100%;
    height: 40px;
  }
}