.Volume {
  display: flex;
  align-items: center;
  padding: 0 15px;
  border: none;
  background: transparent;
  cursor: pointer;
  outline: 0;
  position: relative;
}

.Volume-range {
  transform: rotate( -90deg );
  transform-origin: left bottom;
  position: absolute;
  bottom: 50px;
  left: 50px;
  height: 50px;
  display: none;
  background: rgba( 0, 0, 0, .7 );
  padding-right: 20px;
  border-radius: 0 20px 20px 0;

  @media ( --tablet ) {
    height: 50px;
    display: flex;
    background: unset;
    padding: 0 0 0 10px;
    border-radius: 0 20px 20px 0;
    align-items: center;
    width: 50px;
    position: relative;
    transform: unset;
    bottom: unset;
    left: unset;
    transform-origin: unset;
  }
}

.Volume input {
  cursor: grab;

  @media ( --tablet ) {
    width: inherit;
  }
}

.Volume:hover .Volume-range {
  display: flex;
  align-items: center;
}

